.keyboard {
    @include flex-column-center;
    gap: 8px;

    &__wrapper {
        display: flex;
        align-items: center;
        height: 280px;
    }

    &__row {
        @include flex-row-center;
        align-items: center;
        gap: 8px;
    }
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    width: 50px;
    height: 60px;
    padding: 20px;
    text-align: center;
    background-color: rgba(130, 127, 127, 0.649);
    box-shadow: 20px 20px 20px 0px #0f0f0f;

    @media screen and (max-width:768px) {
        & {
            width: 40px;
            height: 50px;
            padding: 8px;
        }
    }

    @media screen and (max-width:500px) {
        & {
            width: 30px;
            height: 40px;
        }
    }
}

.letter__hover:hover{
    cursor: pointer;
}