.level__box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin-top: 27px;

    & input {
        transition: all 0.3s ease;
    }
}

.input__radio {
    appearance: none;
}

.level--checked {
    color: $primary-color-blue;    
}

.level--disabled {
    cursor: default;
    opacity: 60%;
}