.wrapper {
    @include flex-column-center;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 30px;

    &__box {
        height: 62px;
    }

    @media screen and (max-width:768px) {
        & {
            gap: 10px;
        }
    }
}