.header {

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 15px;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }
}