.feedback{
    font-size: 30px;
    justify-content: center;

    &--correct {
        color: green;
    }

    &--incorrect {
        color: red;
    }

    &--win {
        color: blue;
    }

    &--hide {
        display: none;
    }
}